<h1 class="display-4 text-primary mt-5" style="font-size:2rem;">Change Log:</h1>

<ul class="list-group">
  <li class="list-group-item">Created empty .NET6 empty project</li>
  <li class="list-group-item">Installed Telerik</li>
  <li class="list-group-item">Created Telerik Grid and Charts pages to test Telerik installation</li>
  <li class="list-group-item">Added 'ChangeLog' page</li>
</ul>
