<h1 class="h4 mt-5">QMS Index Page</h1>

<hr class="mt-5" />

@(Html.Kendo().Button()
    .Name("kendoIconButtonmmmm")
    .HtmlAttributes(new { type = "button" })
    .ThemeColor(ThemeColor.Primary)
    .Icon("k-button-icon k-icon k-i-plus")
    .Content("Add New User")
    .Events(ev => ev.Click("createAndShowPopup"))
)

<div id="windowForAssign"></div>

@section Scripts {
    <script>
        function createAndShowPopup() {
            var kendoWindowAssign = $("#windowForAssign");
            kendoWindowAssign.kendoWindow({
                width: "650px",
                modal: true,
                height: '120px',    
                iframe: true,
                resizable: false,
                title: "Add New QMS User",
                content: "https/google.com",
                visible: false
            });

            var popup = $("#windowForAssign").data('kendoWindow');
            popup.open();
            popup.center();
    }
    </script>
}