@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="demo-section wide">
    @(Html.Kendo().Menu()
            .Name("QmsMenu")
            .DataTextField("Title")
            .DataSource(ds => ds.Read("Menu_Read", "Menu")
            .Model(model => model.Children("MenuItems")))
    )
</div>
