@model Qms_Web.Models.PagerViewModel

@(Html.Kendo().Button()
    .Name("button-add-user")
    .HtmlAttributes(new { type = "button" })
    .ThemeColor(ThemeColor.Primary)
    .Icon("k-button-icon k-icon k-i-plus")
    .Content("Add New User")
)
<div class="row mt-1">
    <div class="col-12">
        @(Html.Kendo().Grid <QmsCore.UIModel.User>()
            .Name("active-users-grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.EmailAddress);
                columns.Bound(p => p.DisplayName);
                columns.Bound(p => p.OrganizationName);
                columns.Bound(p => p.ManagerName);
            })
            .Sortable()
            .Filterable()
            .Pageable(pager => pager
                .Input(Model.Input)
                .Numeric(Model.Numeric)
                .Info(Model.Info)
                .PreviousNext(Model.PreviousNext)
                .Refresh(Model.Refresh)
                .PageSizes(Model.PageSizes)
            )
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Read(read => read.Action("ActiveUsers_Read", "UserAdmin"))
           )
        )
    </div>
</div>
