@model Qms_Web.Models.PagerViewModel

<button class="k-button k-button-solid k-button-md k-rounded-md k-button-solid-base k-icon-button mb-1">
    <span class="k-button-icon k-icon k-i-plus"></span>
    <span class="k-button-text">Add New User</span>
</button>
<div class="row">
    <div class="col-12">
        @(Html.Kendo().Grid <QmsCore.UIModel.User>()
            .Name("active-users-grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.EmailAddress);
                columns.Bound(p => p.DisplayName);
                columns.Bound(p => p.OrganizationName);
                columns.Bound(p => p.ManagerName);
            })
            .Sortable()
            .Filterable()
            .Pageable(pager => pager
                .Input(Model.Input)
                .Numeric(Model.Numeric)
                .Info(Model.Info)
                .PreviousNext(Model.PreviousNext)
                .Refresh(Model.Refresh)
                .PageSizes(Model.PageSizes)
            )
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Read(read => read.Action("ActiveUsers_Read", "UserAdmin"))
           )
        )
    </div>
</div>
