@model Qms_Web.Models.PagerViewModel

<div class="row">
    <div class="col-12">
        @(Html.Kendo().Grid <Qms_Data.ViewModels.UserListRowVM>()
            .Name("inactive-users-grid")
            .Columns(columns =>
            {
                columns.Template("<a href='/UserAdmin/UpdateUser?id=#= UserId#'><span class='k-icon k-i-pencil' title='Update'></span></a>").Width(10);
                columns.Bound(p => p.EmailAddress);
                columns.Bound(p => p.DisplayName);
                columns.Bound(p => p.OrganizationName);
                columns.Bound(p => p.ManagerName);
            })
            .Sortable()
            .Filterable()
            .Pageable(pager => pager
                .Input(Model.Input)
                .Numeric(Model.Numeric)
                .Info(Model.Info)
                .PreviousNext(Model.PreviousNext)
                .Refresh(Model.Refresh)
                .PageSizes(Model.PageSizes)
            )
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Read(read => read.Action("InactiveUsers_Read", "UserAdmin"))
           )
        )
    </div>
</div>
