@{
    var showUserAdminActiveTabString = ViewData["ShowUserAdminActiveTab"] as string;
    var showUserAdminInactiveTabString = ViewData["ShowUserAdminInactiveTab"] as string;

    bool showUserAdminActiveTab = Convert.ToBoolean(showUserAdminActiveTabString);
    bool showUserAdminInactiveTab = Convert.ToBoolean(showUserAdminInactiveTabString);

    var userAdminSuccessMessage = ViewData[Qms_Web.Constants.QmsConstants.UserAdminConstants.SUCCESS_MESSAGE] as string;
}

<h1 class="display-6 mt-3 text-center">User Administration</h1>

@if (string.IsNullOrEmpty(userAdminSuccessMessage) == false)
{
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert" style="border: 1px solid #0f5132">
        @Html.Raw(@userAdminSuccessMessage)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@(Html.Kendo().TabStrip()
    .Name("user-admin-tabstrip")
    .Items(tabstrip =>
    {
        tabstrip.Add().Text("Active")
            .LoadContentFrom(Url.Action("_ActiveUsers", "UserAdmin"))
            .Selected(@showUserAdminActiveTab);

        tabstrip.Add().Text("Inactive")
            .LoadContentFrom(Url.Action("_InactiveUsers", "UserAdmin"))
            .Selected(@showUserAdminInactiveTab);
    })
)

@section Scripts {
    <script>
        function buttonClickHandlerForCreateUser(e) {
            console.log(e.target.text() + " 'click' event is fired.");
            console.log("window.location.href:", window.location.href);
            console.log("location.href.......:", location.href);
            location.href = `${location.href}/CreateUser`
        }
    </script>
}